<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YuKonek"
        tools:targetApi="31" >
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".signin.SigninActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".detailfavoriteyoutuber.DetailFavoriteYoutuberActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_favorite_youtuber"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.YuKonek">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detailreminder.DetailReminderActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_reminder"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".about.About"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".detailyoutuberforyou.DetailYoutuberForYou"
            android:exported="false"
            android:label="@string/title_activity_detail_youtuber_for_you"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.YuKonek" />
        <activity
            android:name=".formuser.FormUser"
            android:exported="true"
            android:label="@string/title_activity_form_user"
            android:theme="@style/Theme.YuKonek">
        </activity>
    </application>

</manifest>